<footer>
    <div class="footerContainer">
        <ul>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <img src="img/branding/isotype.svg" alt="">
    </div>
    <div class="footerCopyright">
        <p>Todos los derechos reservados - FunkoShop &copy;</p>
    </div>
</footer>