<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <main>
        <div class="nuevos-ingresos">
            <h1>Nuevos Ingresos</h1>
            <p>Descubri el proximo Funko Pop de tu coleccion</p>
            <button>SHOP</button>
        </div>

    </main>
    <%- include("partials/footer") %>
</body>
</html>