<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="/img/branding/logo_light_horizontal.svg" alt=""></a>
        </div>
            <ul class="menu">
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
    </nav>
</header>