<header>
    <nav>
        <a href="/"><img class="logo" src="/img/branding/logo_light_horizontal.svg" alt=""></a>
        <ul class="menu">
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/shop/cart"><img src="/img/icons/cart-icon.svg" width="20px" alt="Carrito"></a></li>
        </ul>
    </nav>
</header>